<footer class="navbar navbar-fixed-bottom">
<span class="pull-right">Handcrafted by <a href="http://tonycoding.tumblr.com">Tony Contreras</a> with some help from <a href="http://www.sinatrarb.com/">Sinatra</a> and <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></span>
</footer>