<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item">
      <img src="/images/screenshot_all.png" alt="">
      <div class="carousel-caption">
        <h4>Store your favorite videos</h4>
        <p>myTube dramatically enhances youTube playlists
          by making play lists more dynamic and fun.</p>
      </div>
    </div>
    <div class="item">
      <img src="/images/screenshot_new.png" alt="">
      <div class="carousel-caption">
        <h4>Quickly add videos</h4>
        <p>Adding and categorizing videos is fast and easy.</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>