<!doctype html>

<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>myTube</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/jquery-1.9.1.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>

  <script type="text/javascript">
  $(function () {
    $('body').popover({
      selector: '[data-toggle="popover"]'
    });

    $('body').tooltip({
      selector: 'a[rel="tooltip"], [data-toggle="tooltip"]'
    });
  });
  </script>

</head>
<body>

  <div class="container">

    <%= erb :navbar %>
    <%= yield %>
    <%= erb :footer %>

  </div>
</body>
</html>