<form class="form-horizontal" method="post" action='/create'>
  <fieldset>
    <legend>Add a video link</legend>
    <div class="control-group">
      <label class="control-label">Title</label>
      <div class="controls">
        <input type="text" name="title" class="input-xlarge" placeholder="Title">
        <p class="help-block">Enter your title of the linked movie</p>
      </div>
    </div>
     <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <textarea class="input-xlarge" name="description" rows="3"></textarea>
      </div>
    </div>
     <div class="control-group">
      <label class="control-label">URL</label>
      <div class="controls">
        <textarea class="input-xlarge" name="url" rows="3"></textarea>
        <p class="help-block">Paste the URL of the video to add</p>
        <p class="help-block">Dimensions should be 280x158</p>
      </div>
    </div>
    <div class="control-group">
     <label class="control-label">Select category</label>
      <div class="controls">
        <select name="category">
          <option>Comedy</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <p class="help-block">Or create a new category below</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">New category</label>
      <div class="controls">
        <input type="text" name="title" class="input-xlarge" placeholder="New Category">
      </div>
    </div>
    <div class="form-actions">
      <button class="btn btn-primary">Add video</button>
      <button class="btn">Cancel</button>
    </div>
  </fieldset>
</form>