<% if @rows.present?  %>
<div class="row-fluid">
  <ul class="thumbnails">
<% @rows.each do |row| %>


    <li class="span4">
      <div class="thumbnail">
        <%= row['url'] %>
        <div class="caption">
          <h3><%= row['title'] %> </h3>
          <div class='thumbnail_text'>
          <p><%= row['description'] %></p>
          <p class="thumbnail_buttons"><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
          <div>
        </div>
      </div>
    </li>


<% end %>
</ul>
</div>
<% end %>