<ul class="thumbnails">
<% @rows.each do |row| %>

  <li class="span4">
    <a class="thumbnail">
      <form action='/videos/<%= row['id'] %>/delete' method="post" name="video_id">
        <button class="btn btn-danger btn-mini">Delete</button>
      </form>
      <%= row['url'] %>
    </a>
    <h3><%= row['name'] %></h3>
    <p><%= row['description'] %></p>
  </li>

<% end %>

</ul>