body {
  background: url('/images/low_contrast_linen.png');
}

.thumbnail {
  height: 410px;
  padding: 7px;
}

iframe {
  margin-top: 5px;
}

form,legend {
  padding: 5px 0 5px 0;
  margin: 0;
}

.form-actions {
  opacity: 1.5;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  background: url('/images/low_contrast_linen.png');
  border-top: 0;
}

.thumbnail .caption {
  padding: 0px;
}

.thumbnail .caption h1, h2, h3 {
  line-height: 20px;
}

h6 {
  padding-bottom: 5px;
}

.help-block,.thumbnail, legend, form, .thumbnail h3 {
  color: #c1c1c1;
}

.vid_description{
  position: relative;
  top: -12px;
  height:100px;
  width: 280px;
  overflow: scroll;

}
button .trash {
  background-image: url("/bootstrap/img/glyphicons-halflings.png");
  background-position: -456px 0;
  width: 14px;
  height: 14px;
}
.carousel {
  width: 850px;
  margin: 0 auto 0 auto;
}